<h1>misArticulosComponent (Hijo)</h1>
  <h3>   (Interpolando datos de un array de objetos)</h3>
  <h3>   (property binding disabled en boton)</h3>


<div class="card" style="width: 18rem;">
    <img src="assets/{{misArticulos[2].id}}.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{misArticulos[2].nombre}}</h5>
      <p class="card-text">{{misArticulos[2].descripcion}}</p>
      <b><p class="card-text text-center">{{misArticulos[2].precio}}</p></b>
    </div>
    <button id="m1" class="btn btn-primary" [disabled]="botonActivo">comprar</button>
  </div>
